*{
    padding: 0;
    margin: 0;
    color: black;
}

header{
    width: 100%;
    height: 100px;
}

.titulo1{
    font-size: 15px;
    text-align: center;
    color: black;
}

.menu{
    text-align: center;
    background-color: black;
}

.menu > li{
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 21px;
}

.prod{
    color: white;
}

.prod:hover{
    color: grey;
}

.menu > li > a{
    color: white;
    text-decoration: none;
}

.submenu{
    text-align: center;
    background-color: black;
    position: absolute;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 18px;
    visibility: hidden;
}

.submenu > li{
    list-style: none;
    display: block;
    padding: 20px;
    position: relative;
}

.submenu > li > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
}

.menu > li > a:hover{
    color: grey;
}

.menu li:hover .submenu{
    visibility: visible;
}

.submenu li a:hover{
    color: rgb(129, 125, 125, 0.849);
}

section{
    width: 100%;
    height: 400px;
}

.frase{
    background-color: black;
    color: white;
    position: static;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portada{
    height: 350px;
    width: 100%;
    margin-top: 24px;
}

.informacion{
    margin-top: 20px;
    width: 100%;
    height: 170px;
    background-color: black;
}

.informacion > .texto{
    border: 2px solid white;
    border-radius: 20px;
    padding: 8px;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.boton_whatsapp{
    text-align: center;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    padding: 20px;
}

.boton_whatsapp > a{
    text-decoration: none;
    padding: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.boton_whatsapp > a:hover{
    color: black;
    background-color: white;
}

.Pagos-Contacto{
    width: 100%;
    height: 450px;
    margin-top: 20px;
    background-color: black;
}

.Pagos-Contacto > .redes > p{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}

.logo-instagram{
    width: 26px;
    height: 22px;
    padding: 7px;
    border-radius: 40px;
    position: absolute;
    margin-top: 60px;
    margin-left: 10px;
    background-color: white;

}

.logo-facebook{
    width: 35px;
    height: 35px;
    position: absolute;
    margin-top: 60px;
    margin-left: 70px;
    border-radius: 40px;
    border: 2px solid white;
}

.Pagos-Contacto > .pagos > p{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 10px; 
}

.mp{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 200px;
    margin-left: 30px;
}

.tarjetas{
    position: absolute;
    width: 260px;
    height: 160px;
    margin-top: 180px;
    margin-left: 150px;
}

.Pagos-Contacto > .envios > p{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: white;
    margin-top: 350px;
    margin-left: 10px;
}

.oca{
    position: absolute;
    width: 120px;
    height: 30px;
    margin-top: 400px;
    margin-left: 30px;
}

.ME{
    position: absolute;
    width: 90px;
    height: 80px;
    margin-top: 370px;
    margin-left: 160px;
}

@media screen and (max-width: 500px){
    .menu > li > a{
        font-size: 12px;
    }

    .prod{
        font-size: 12px;
    }
    .prod > .submenu > li > a{
        font-size: 12px;
    }

    .portada{
        height: 260px;
    }

    .informacion{
        height: 190px;
    }

    .informacion > .texto{
        font-size: 14px;
        margin-left: 10px;
    }
    .boton_whatsapp{
        margin-left: 100px;
        margin-top: 110px;
    }

    .mp{
        width: 70px;
        height: 70px;
    }

    .tarjetas{
        width: 170px;
        height: 130px;
        margin-left: 120px;
    }
}